<!DOCTYPE html>
<html>

<head>
	<title>承运商详情</title>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<!-- 所有的 css & js 资源 -->
	<link rel="stylesheet" href="../../static/kj/element-ui/theme-chalk/index.css">
	<link rel="stylesheet" href="../../static/sa.css">
	<script src="../../static/kj/vue.min.js"></script>
	<script src="../../static/kj/element-ui/index.js"></script>
	<script src="../../static/kj/jquery.min.js"></script>
	<script src="../../static/kj/layer/layer.js"></script>
	<script src="../../static/sa.js"></script>
</head>

<body>
	<div class="vue-box" style="display: none;" :style="'display: block;'">
		<!-- 参数栏 -->
		<div class="c-panel">
			<el-form v-if="m">
				<div class="c-item br">
					<label class="c-label">ID：</label>
					<el-input size="mini" v-model="m.carrierId" :disabled="true"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">承运商名称：</label>
					<el-input size="mini" v-model="m.companyName" :disabled="true"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">SAP编号：</label>
					<el-input size="mini" v-model="m.sapCode" :disabled="true"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">物流公司ID：</label>
					<el-input size="mini" v-model="m.logisticsCompanyId" :disabled="true"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">运输类型：</label>
					<el-select size="mini" v-model="m.shipType" @change="shipTypeChanged" clearable placeholder="请选择"
						:disabled="disabled">
						<el-option v-for="item in shipTypeList" :key="item.code" :value="item.code"
							:label="item.value">
						</el-option>
					</el-select>
				</div>
				<div class="c-item br">
					<label class="c-label">承运商类型：</label>
					<el-select size="mini" v-model="m.carrierType" @change="carrierTypeChanged" clearable
						placeholder="请选择" :disabled="disabled">
						<el-option v-for="item in carrierTypeList" :key="item.code" :value="item.code"
							:label="item.value">
						</el-option>
					</el-select>
				</div>
				<div class="c-item br">
					<label class="c-label">结算方代码：</label>
					<el-input size="mini" v-model="m.code" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">结算方名称：</label>
					<el-input size="mini" v-model="m.name" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label"></label>
					<el-button size="mini" type="primary" icon="el-icon-plus" size="mini" @click="ok"
						:disabled="disabled">确定</el-button>
				</div>
			</el-form>
		</div>
	</div>
	<script type="text/javascript">
		new Vue({
			el: '.vue-box',
			data: {
				param: {},
				detailType: 'add', // add edit info
				disabled: false,
				idDisabled: true,
				shipTypeList: [],
				carrierTypeList: [],
				m: {
					carrierId: '',
					companyName: '',
					sapCode: '',
					logisticsCompanyId: '',
					shipType: '',
					shipTypeName: '',
					code: '',
					name: '',
					carrierType: '',
					carrierTypeName: '',
				},
			},

			methods: {
				// ok
				get: function () {
					if (this.param.detailType === sa.CONSTANT.ADD) {
						this.disabled = false;
						this.idDisabled = false;
					} else {
						sa.get('/local/carrier/info/' + this.param.carrierId, this.p, function (res) {
							this.m = res.data;
							if (this.param.detailType === sa.CONSTANT.EDIT) {
								this.disabled = false;
								this.idDisabled = true;
							} else {
								this.disabled = true;
								this.idDisabled = true;
							}
						}.bind(this), {});
					}
				},
				loadShipTypeList: function () {
					sa.get('/local/dict/list?type=shipType', {}, function (res) {
						this.shipTypeList = res.list; // 数据  
					}.bind(this), {});
				},
				loadCarrierTypeList: function () {
					sa.get('/local/dict/list?type=carrierType', {}, function (res) {
						this.carrierTypeList = res.list; // 数据  
					}.bind(this), {});
				},
				ok: function () {
					sa.post(this.param.url, this.m, function (res) {
						sa.alert(this.param.detailType === sa.CONSTANT.ADD ? '添加成功' : '修改成功',
							function () {
								sa.closeCurrIframe();
							});
					}.bind(this));

				},
				shipTypeChanged: function (value, item) {
					console.log(value, item);
				},
				carrierTypeChanged: function (value, item) {
					console.log(value, item);
				},
			},
			created: function () {
				let temp = {
					detailType: sa.CONSTANT.ADD,
					url: '/local/carrier/save'
				};
				try {
					window.location.search.replace('?', '').split('&').forEach(obj => {
						let item = obj.split('=');
						if (item.length == 2) {
							temp[item[0]] = item[1];
						}
					})
				} catch (e) {

				}
				this.param = temp;
				this.loadShipTypeList();
				this.loadCarrierTypeList();
				this.get();
			}
		})
	</script>
</body>

</html>