<!DOCTYPE html>
<html>

<head>
	<title>组织详情</title>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<!-- 所有的 css & js 资源 -->
	<link rel="stylesheet" href="../../static/kj/element-ui/theme-chalk/index.css">
	<link rel="stylesheet" href="../../static/sa.css">
	<script src="../../static/kj/vue.min.js"></script>
	<script src="../../static/kj/element-ui/index.js"></script>
	<script src="../../static/kj/jquery.min.js"></script>
	<script src="../../static/kj/layer/layer.js"></script>
	<script src="../../static/sa.js"></script>
	<script src="./data-list.js"></script>
</head>

<body>
	<div class="vue-box" style="display: none;" :style="'display: block;'">
		<!-- 参数栏 -->
		<div class="c-panel">
			<el-form v-if="m">
				<div class="c-item br">
					<label class="c-label">ID：</label>
					<el-input size="mini" v-model="m.id" :disabled="true"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">组织名称：</label>
					<el-input size="mini" v-model="m.dept" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">组织代码：</label>
					<el-input size="mini" v-model="m.code" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">联系人：</label>
					<el-input size="mini" v-model="m.contact" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">联系电话：</label>
					<el-input size="mini" v-model="m.mobile" :disabled="disabled"></el-input>
				</div>
				<div class="c-item">
					<label class="c-label">组织类型：</label>
					<el-select size="mini" v-model="m.type" clearable placeholder="请选择" :disabled="disabled">
						<el-option v-for="item in deptTypeList" :key="item.value" :value="item.value"
							:label="item.label">
						</el-option>
					</el-select>
				</div>
				<div class="c-item">
					<label class="c-label">是否启用：</label>
					<el-switch v-model="m.isSelect" active-color="#13ce66" :disabled="disabled">
				</div>
				<div class="c-item br">
					<label class="c-label"></label>
					<el-button size="mini" type="primary" icon="el-icon-plus" size="mini" @click="ok"
						:disabled="disabled">确定</el-button>
				</div>
			</el-form>
		</div>
	</div>
	<script type="text/javascript">
		new Vue({
			el: '.vue-box',
			data: {
				disabled: false,
				idDisabled: true,
				deptTypeList: deptTypeList,
				m: {
					id: '',
					dept: '',
					code: '',
					contact: '',
					mobile: '',
					type: '',
					isSelect: '0',
				},
			},
			methods: {
				get: function () {
					if (this.temp.detailType === sa.CONSTANT.ADD) {
						this.disabled = false;
						this.idDisabled = false;
					} else {
						sa.get('/local/dept/info/' + this.temp.id, this.p, function (res) {
							this.m = res.data;
							if (this.temp.detailType === sa.CONSTANT.EDIT) {
								this.disabled = false;
								this.idDisabled = true;
							} else {
								this.disabled = true;
								this.idDisabled = true;
							}
						}.bind(this), {});
					}
				},
				// ok
				ok: function () {
					sa.post(this.temp.url, this.m, function (res) {
						sa.alert(this.temp.detailType === sa.CONSTANT.ADD ? '添加成功' : '修改成功',
							function () {
								sa.closeCurrIframe();
							});
					}.bind(this));

				},
				roleChanged: function (value) {}
			},
			created: function () {
				sa.getParamsFromUrl(this, {
					detailType: sa.CONSTANT.ADD,
					url: '/local/dept/save'
				});
				this.get();
			}
		})
	</script>
</body>

</html>