<!DOCTYPE html>
<html>

<head>
	<title>数据字典详情</title>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<!-- 所有的 css & js 资源 -->
	<link rel="stylesheet" href="../../static/kj/element-ui/theme-chalk/index.css">
	<link rel="stylesheet" href="../../static/sa.css">
	<script src="../../static/kj/vue.min.js"></script>
	<script src="../../static/kj/element-ui/index.js"></script>
	<script src="../../static/kj/jquery.min.js"></script>
	<script src="../../static/kj/layer/layer.js"></script>
	<script src="../../static/sa.js"></script>
</head>

<body>
	<div class="vue-box" style="display: none;" :style="'display: block;'">
		<!-- 参数栏 -->
		<div class="c-panel">
			<el-form v-if="m">
				<div class="c-item br">
					<label class="c-label">ID：</label>
					<el-input size="mini" v-model="m.id" :disabled="true"></el-input>
				</div>
				<div class="c-item">
					<label class="c-label">字典类型：</label>
					<el-select size="mini" v-model="m.type" clearable placeholder="请选择" :disabled="disabled" ref="type"
						@change="typeChange" @visible-change="(v) => visibleChange(v, 'type')">
						<el-option v-for="item in typeList" :key="item.type" :value="item.type" :label="item.name">
						</el-option>
					</el-select>
				</div>
				<!-- <div class="c-item">
					<label class="c-label"></label>
					<el-button size="mini" type="primary" icon="el-icon-plus" @click="addType()" :disabled="disabled">
						新增类型</el-button>
				</div> -->
				<div class="c-item br">
					<label class="c-label">字典编码：</label>
					<el-input size="mini" v-model="m.code" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">字典名称：</label>
					<el-input size="mini" v-model="m.value" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">排序：</label>
					<el-input size="mini" v-model="m.orderNum" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">备注：</label>
					<el-input size="mini" v-model="m.remark" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label"></label>

					<el-button size="mini" type="primary" icon="el-icon-plus" size="mini" @click="ok"
						:disabled="disabled">确定</el-button>
				</div>
			</el-form>
		</div>
	</div>
	<script type="text/javascript">
		new Vue({
			el: '.vue-box',
			data: {
				param: {},
				detailType: 'add', // add edit info
				disabled: false,
				idDisabled: true,
				typeList: [],
				m: {
					id: '',
					type: '',
					name: '',
					code: '',
					value: '',
					orderNum: '0',
					remark: '',
				},
			},

			methods: {
				get: function () {
					if (this.param.detailType === sa.CONSTANT.ADD) {
						this.disabled = false;
						this.idDisabled = false;
					} else {
						sa.get('/local/dict/info/' + this.param.id, this.p, function (res) {
							this.m = res.data;
							console.log(res.data);
							if (this.param.detailType === sa.CONSTANT.EDIT) {
								this.disabled = false;
								this.idDisabled = true;
							} else {
								this.disabled = true;
								this.idDisabled = true;
							}
						}.bind(this), {});
					}
				},
				typeChange: function (value) {
					const item = this.typeList.find(item => item.type == value + "");
					if (item) {
						this.m.name = item.name;
					} else {
						this.m.name = '';
					}
				},
				visibleChange(visible, refName) {
					const ref = this.$refs[refName];
					sa.selectVisibleChange(visible, ref, "新增类型", () => {
						this.addType();
					})
				},
				addType: function () {
					sa.showIframe("新增类型", 'dict-type.html',
						'400px',
						'260px', false,
						() => this.loadDictTypeList()
					);
				},
				loadDictTypeList: function () {
					sa.get('/local/dict/type', {}, function (res) {
						this.typeList = res.list; // 数据  
					}.bind(this), {});
				},
				// ok
				ok: function () {
					sa.post(this.param.url, this.m, function (res) {
						sa.alert(this.param.detailType === sa.CONSTANT.ADD ? '添加成功' : '修改成功',
							function () {
								sa.closeCurrIframe();
							});
					}.bind(this));

				}
			},
			created: function () {
				let temp = {
					detailType: sa.CONSTANT.ADD,
					url: '/local/dict/save'
				};
				try {
					window.location.search.replace('?', '').split('&').forEach(obj => {
						let item = obj.split('=');
						if (item.length == 2) {
							temp[item[0]] = item[1];
						}
					})
				} catch (e) {

				}
				this.param = temp;
				this.loadDictTypeList();
				this.get();
			}
		})
	</script>
</body>

</html>