<!DOCTYPE html>
<html>

<head>
	<title>智链系数详情</title>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<!-- 所有的 css & js 资源 -->
	<link rel="stylesheet" href="../../static/kj/element-ui/theme-chalk/index.css">
	<link rel="stylesheet" href="../../static/sa.css">
	<script src="../../static/kj/vue.min.js"></script>
	<script src="../../static/kj/element-ui/index.js"></script>
	<script src="../../static/kj/jquery.min.js"></script>
	<script src="../../static/kj/layer/layer.js"></script>
	<script src="../../static/sa.js"></script>
</head>

<body>
	<div class="vue-box" style="display: none;" :style="'display: block;'">
		<!-- 参数栏 -->
		<div class="c-panel">
			<el-form v-if="m">
				<div class="c-item br">
					<label class="c-label">类型编号：</label>
					<el-input size="mini" v-model="m.workNo" :disabled="idDisabled || disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">序列长度</label>
					<el-input size="mini" v-model="m.serialNoLength" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">流水号前缀：</label>
					<el-input size="mini" v-model="m.prefix" :disabled="disabled"></el-input>
				</div>
				<div class="c-item">
					<label class="c-label">重置类型：</label>
					<el-select size="mini" v-model="m.resetMode" clearable filterable placeholder="请选择" :disabled="disabled">
						<el-option v-for="item in resetModeList" :key="item.code" :value="item.code"
							:label="item.value">
						</el-option>
					</el-select>
				</div>
				<div class="c-item br">
					<label class="c-label">日期格式：</label>
					<el-input size="mini" v-model="m.dateFormat" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">备注：</label>
					<el-input size="mini" v-model="m.remarks" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label"></label>
					<el-button size="mini" type="primary" icon="el-icon-plus" size="mini" @click="ok"
						:disabled="disabled">确定</el-button>
				</div>
			</el-form>
		</div>
	</div>
	<script type="text/javascript">
		new Vue({
			el: '.vue-box',
			data: {
				disabled: false,
				idDisabled: true,
				resetModeList: [],
				m: {
					workNo: '',
					currentWorkSerial: '',
					currentSerialNo: '',
					serialNoLength: '',
					prefix: '',
					dateFormat: '',
					resetMode: '',
					resetTime: '',
					modifyTime: '',
					remarks: '',
				},
			},

			methods: {
				get: function () {
					if (this.temp.detailType === sa.CONSTANT.ADD) {
						this.disabled = false;
						this.idDisabled = false;
					} else {
						sa.get('/local/serial/info/' + this.temp.workNo, this.p, function (res) {
							res.data.currentWorkSerial = this.getCurrentWorkSerial(res.data);
							res.data.resetMode = res.data.resetMode + "";
							this.m = res.data;
							if (this.temp.detailType === sa.CONSTANT.EDIT) {
								this.disabled = false;
								this.idDisabled = true;
							} else {
								this.disabled = true;
								this.idDisabled = true;
							}
						}.bind(this), {});
					}
				},
				loadResetModeList: function () {
					sa.get('/local/dict/list?type=resetMode', {}, function (res) {
						this.resetModeList = res.list; // 数据  
					}.bind(this), {});
				},
				getCurrentWorkSerial: function (row) {
					const length = row.serialNoLength || 0;
					const currentNo = (row.currentSerialNo || 1) + '';
					const arr = [];
					arr.push(row.prefix || '');
					if (row.dateFormat) {
						arr.push(sa.dateFormat(new Date(), row.dateFormat));
					}
					const len = length - currentNo.length;
					if (len >= 1) {
						for (let i = 0; i < len; i++) {
							arr.push('0');
						}
					}
					arr.push(currentNo);
					return arr.join('');
				},
				// ok
				ok: function () {
					sa.post(this.temp.url, this.m, function (res) {
						sa.alert(this.temp.detailType === sa.CONSTANT.ADD ? '添加成功' : '修改成功',
							function () {
								sa.closeCurrIframe();
							});
					}.bind(this));

				},
				roleChanged: function (value) {}
			},
			created: function () {
				sa.getParamsFromUrl(this, {
					detailType: sa.CONSTANT.ADD,
					url: '/local/serial/save'
				});
				this.loadResetModeList();
				this.get();
			}
		})
	</script>
</body>

</html>