<!DOCTYPE html>
<html>

<head>
	<title>系统数据详情</title>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<!-- 所有的 css & js 资源 -->
	<link rel="stylesheet" href="../../static/kj/element-ui/theme-chalk/index.css">
	<link rel="stylesheet" href="../../static/sa.css">
	<script src="../../static/kj/vue.min.js"></script>
	<script src="../../static/kj/element-ui/index.js"></script>
	<script src="../../static/kj/jquery.min.js"></script>
	<script src="../../static/kj/layer/layer.js"></script>
	<script src="../../static/sa.js"></script>
</head>

<body>
	<div class="vue-box" style="display: none;" :style="'display: block;'">
		<!-- 参数栏 -->
		<div class="c-panel">
			<el-form v-if="m">
				<div class="c-item br">
					<label class="c-label">代码：</label>
					<el-input size="mini" v-model="m.code" :disabled="idDisabled || disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">标题：</label>
					<el-input size="mini" v-model="m.title" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">数值1：</label>
					<el-input size="mini" v-model="m.percentage" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">数值2：</label>
					<el-input size="mini" v-model="m.percentage1" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">数值3：</label>
					<el-input size="mini" v-model="m.percentage2" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label"></label>
					<el-button size="mini" type="primary" icon="el-icon-plus" size="mini" @click="ok"
						:disabled="disabled">确定</el-button>
				</div>
			</el-form>
		</div>
	</div>
	<script type="text/javascript">
		new Vue({
			el: '.vue-box',
			data: {
				disabled: false,
				idDisabled: true,
				m: {
					code: '',
					title: '',
					percentage: '',
					percentage1: '',
					percentage2: '',
					fixPercentage: '',
					freightPercentage1: '',
					handingPercentage1: '',
				},
			},

			methods: {
				get: function () {
					if (this.temp.detailType === sa.CONSTANT.ADD) {
						this.disabled = false;
						this.idDisabled = false;
					} else {
						sa.get('/local/smartChain/percentage/info/' + this.temp.code, this.p, function (res) {
							this.m = res.data;
							if (this.temp.detailType === sa.CONSTANT.EDIT) {
								this.disabled = false;
								this.idDisabled = true;
							} else {
								this.disabled = true;
								this.idDisabled = true;
							}
						}.bind(this), {});
					}
				},
				// ok
				ok: function () {
					sa.post(this.temp.url, this.m, function (res) {
						sa.alert(this.temp.detailType === sa.CONSTANT.ADD ? '添加成功' : '修改成功',
							function () {
								sa.closeCurrIframe();
							});
					}.bind(this));

				},
				roleChanged: function (value) {}
			},
			created: function () {
				sa.getParamsFromUrl(this, {
					detailType: sa.CONSTANT.ADD,
					url: '/local/serial/save'
				});
				this.get();
			}
		})
	</script>
</body>

</html>