<!DOCTYPE html>
<html>

<head>
	<title>用户列表</title>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<!-- 所有的 css & js 资源 -->
	<link rel="stylesheet" href="../../static/kj/element-ui/theme-chalk/index.css">
	<link rel="stylesheet" href="../../static/sa.css">
	<script src="../../static/kj/vue.min.js"></script>
	<script src="../../static/kj/element-ui/index.js"></script>
	<script src="../../static/kj/jquery.min.js"></script>
	<script src="../../static/kj/layer/layer.js"></script>
	<script src="../../static/sa.js"></script>
	<script src="./data-list.js"></script>
</head>

<body>
	<div class="vue-box" style="display: none;" :style="'display: block;'">
		<div class="c-panel">
			<!-- ------------- 检索参数 ------------- -->
			<div class="c-title">用户列表</div>
			<el-form>
				<div class="c-item">
					<label class="c-label">用户账号：</label>
					<el-input size="mini" v-model="p.userName" placeholder="模糊查询"></el-input>
				</div>
				<div class="c-item">
					<label class="c-label">用户名称：</label>
					<el-input size="mini" v-model="p.name" placeholder="模糊查询"></el-input>
				</div>
				<div class="c-item">
					<label class="c-label">用户身份：</label>
					<el-select size="mini" v-model="p.role" clearable placeholder="请选择">
						<el-option v-for="item in roleList" :key="item.value" :value="item.label" :label="item.label">
						</el-option>
					</el-select>
				</div>
				<div class="c-item" style="min-width: 0px;">
					<el-button size="mini" type="primary" icon="el-icon-search" @click="f5()">查询</el-button>
				</div>
			</el-form>
			<!-- <div class="c-title">数据列表</div> -->
			<!-- ------------- 快捷按钮 ------------- -->
			<div class="fast-btn">
				<el-button size="mini" type="primary" icon="el-icon-plus" @click="add()">新增</el-button>
				<!-- <el-button size="mini" type="success" icon="el-icon-view" @click="getBySelect()">查看</el-button> -->
				<el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteByIds()">删除</el-button>
				<!-- <el-button size="mini" type="warning" icon="el-icon-download" @click="exportExcel()">导出</el-button> -->
				<el-button size="mini" type="info" icon="el-icon-refresh" @click="sa.f5()">重置</el-button>
			</div>
			<!-- ------------- 数据列表 ------------- -->
			<el-table class="data-table" ref="data-table" :data="dataList" size="small" stripe="true">
				<el-table-column type="selection" width="45px"></el-table-column>
				<el-table-column label="ID" prop="userId" width="80px"> </el-table-column>
				<el-table-column label="用户账号" prop="userName" width="160px">
					<template slot-scope="s">
						<div style="float: left; width: 130px; line-height: 20px;">
							<b>{{s.row.userName}}</b>
						</div>
					</template>
				</el-table-column>
				<el-table-column label="用户姓名" prop="name" with="160px"> </el-table-column>
				<el-table-column label="用户身份" prop="role" with="120px"></el-table-column>
				<el-table-column label="仓库" prop="facilityNames" with="160px"></el-table-column>
				<el-table-column label="承运商" prop="carrierNames" with="160px"></el-table-column>
				<el-table-column label="分厂" prop="branchNames" with="160px"></el-table-column>
				<el-table-column prop="address" label="操作">
					<template slot-scope="s">
						<el-button class="c-btn" type="success" icon="el-icon-view" @click="get(s.row)">详情</el-button>
						<el-button class="c-btn" type="warning" icon="el-icon-edit" @click="edit(s.row)">编辑</el-button>
						<el-button class="c-btn" type="danger" icon="el-icon-delete" @click="del(s.row)">删除</el-button>

						<el-button class="c-btn" type="success" icon="el-icon-house" @click="facility(s.row)">仓库
						</el-button>
						<el-button class="c-btn" type="primary" icon="el-icon-ship" @click="carrier(s.row)">承运商
						</el-button>
						<el-button class="c-btn" type="warning" icon="el-icon-share" @click="branch(s.row)">分厂
						</el-button>
					</template>
				</el-table-column>
			</el-table>
			<!-- ------------- 分页 ------------- -->
			<div class="page-box">
				<el-pagination background layout="total, prev, pager, next, sizes, jumper" :current-page.sync="p.page"
					:page-size.sync="p.limit" :total="totalCount" :page-sizes="[1, 10, 20, 30, 40, 50, 100]"
					@current-change="f5(true)" @size-change="f5(true)">
				</el-pagination>
			</div>
		</div>
		<!-- 给layer打一波广告 -->
		<!-- <div class="c-panel" style="background-color: rgba(0,0,0,0);">
				layer：<el-link type="primary" href="http://layer.layui.com/" target="_blank">
					一个可以让你想到即可做到的JavaScript弹窗（层）解决方案
				</el-link>
			</div> -->
	</div>
	<script type="text/javascript">
		var app = new Vue({
			el: '.vue-box',
			data: {
				p: { // 查询参数 
					userName: '',
					name: '',
					role: '',
					sidx: '',
					order: '',
					page: 1,
					limit: 10,
				},
				roleList: roleList,
				totalCount: 0,
				dataList: []
			},
			methods: {
				// 数据刷新
				test: function () {
					sa.get('/production/plan/sales/page', {
						orderDate: '2021-06'
					}, function (res) {
						let list = res.page.list || [];
						list.push(res.page.sum || {});
						console.table(list);
					}.bind(this), {});
				},
				f5: function () {
					this.test();
					sa.get('/local/user/page', this.p, function (res) {
						this.dataList = res.page.list; // 数据  
						this.totalCount = res.page.totalCount; // 分页  
						sa.f5TableHeight(); // 刷新表格高度 
					}.bind(this), {});
				},
				// 查看
				get: function (data) {
					// var str = '<div>';
					// str += '<p>ID：' + data.userId + '</p>';
					// str += '<p>账号：' + data.userName + '</p>';
					// str += '<p>姓名：' + data.name + '</p>';
					// str += '<p>身份：<b>' + data.role + '</b></p>';
					// str += '</div>';
					// sa.alert(str);
					this.detail('用户详情', data.userId, sa.CONSTANT.INFO, '/local/user/info/' + data.userId, false);
				},
				// 查看 - 根据选中的
				getBySelect: function (data) {
					var selection = this.$refs['data-table'].selection;
					if (selection.length == 0) {
						return sa.msg('请选择一条数据')
					}
					this.get(selection[0]);
				},
				// 新增
				add: function (data) {
					this.detail('新增用户', null, sa.CONSTANT.ADD, '/local/user/save', true);
					// this.sa_admin.showMenuById('01-02');
				},
				edit: function (data) {
					this.detail('编辑用户', data.userId, sa.CONSTANT.EDIT, '/local/user/edit', true);
				},
				detail: function (title, id, type, url, isReload) {
					sa.showIframe(title, 'user-detail.html?userId=' + id + '&detailType=' + type + '&url=' + url,
						'420px',
						'500px', false,
						() => isReload && this.f5()
					);
				},
				facility: function (data) {
					sa.showIframe('仓库权限', 'user-facility.html?userId=' + data.userId,
						'70%',
						'80%', false,
						() => this.f5()
					);
				},
				carrier: function (data) {
					sa.showIframe('承运商权限', 'user-carrier.html?userId=' + data.userId,
						'70%',
						'80%', false,
						() => this.f5()
					);
				},
				branch: function (data) {
					sa.showIframe('分厂权限', 'user-branch.html?userId=' + data.userId,
						'70%',
						'80%', false,
						() => this.f5()
					);
				},
				// 删除
				del: function (data) {
					let that = this;
					sa.confirm('是否删除，此操作不可撤销', function () {
						sa.post('/local/user/remove', [data.userId], function (res) {
							// sa.arrayDelete(this.dataList, data);
							sa.alert('删除成功', function (e) {
								that.f5();
							});
						}.bind(this))
					}.bind(this));
				},
				// 批量删除
				deleteByIds: function () {
					// 获取选中元素的id列表
					let that = this;
					let selection = this.$refs['data-table'].selection;
					let ids = sa.getArrayField(selection, 'userId');
					if (selection.length == 0) {
						return sa.msg('请至少选择一条数据')
					}
					// 提交删除 
					sa.confirm('是否批量删除选中数据？此操作不可撤销', function () {
						sa.post('/local/user/remove', ids, function (res) {
							sa.alert('删除成功', function (e) {
								that.f5();
							});
						}.bind(this))
					}.bind(this));
				},
				exportExcel: function () {

				}
			},
			created: function () {
				this.f5()
				sa.onInputEnter(); // 监听输入框的回车事件，执行查询  
			}
		})
	</script>






</body>

</html>