<!DOCTYPE html>
<html>

<head>
	<title>分厂详情</title>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<!-- 所有的 css & js 资源 -->
	<link rel="stylesheet" href="../../static/kj/element-ui/theme-chalk/index.css">
	<link rel="stylesheet" href="../../static/sa.css">
	<script src="../../static/kj/vue.min.js"></script>
	<script src="../../static/kj/element-ui/index.js"></script>
	<script src="../../static/kj/jquery.min.js"></script>
	<script src="../../static/kj/layer/layer.js"></script>
	<script src="../../static/sa.js"></script>
</head>

<body>
	<div class="vue-box" style="display: none;" :style="'display: block;'">
		<!-- 参数栏 -->
		<div class="c-panel">
			<el-form v-if="m">
				<div class="c-item br">
					<label class="c-label">ID：</label>
					<el-input size="mini" v-model="m.transferBranchId" :disabled="idDisabled || disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">仓库名称：</label>
					<el-input size="mini" v-model="m.transferBranchName" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">SAP编号：</label>
					<el-input size="mini" v-model="m.transferBranchCode" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">地址：</label>
					<el-input size="mini" v-model="m.transferBranchAddress" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">省份：</label>
					<el-select size="mini" v-model="m.provinceId" clearable placeholder="请选择" :disabled="disabled">
						<el-option v-for="item in provinceList" :key="item.geoId" :value="item.geoId"
							:label="item.geoName">
						</el-option>
					</el-select>
				</div>
				<div class="c-item br">
					<label class="c-label">联系人：</label>
					<el-input size="mini" v-model="m.contactPerson" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">联系电话：</label>
					<el-input size="mini" v-model="m.contactMobile" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label">是否默认：</label>
					<el-switch v-model="m.isDefault" active-color="#13ce66" 
						:disabled="disabled">
						</el-input>
						<!-- inactive-color="#ff4949" -->
				</div>
				<div class="c-item br">
					<label class="c-label">备注：</label>
					<el-input size="mini" v-model="m.remark" :disabled="disabled"></el-input>
				</div>
				<div class="c-item br">
					<label class="c-label"></label>
					<el-button size="mini" type="primary" icon="el-icon-plus" size="mini" @click="ok"
						:disabled="disabled">确定</el-button>
				</div>
			</el-form>
		</div>
	</div>
	<script type="text/javascript">
		new Vue({
			el: '.vue-box',
			data: {
				param: {},
				detailType: 'add', // add edit info
				disabled: false,
				idDisabled: true,
				provinceList: [],
				m: {
					transferBranchId: '',
					transferBranchName: '',
					transferBranchCode: '',
					transferBranchAddress: '',
					provinceId: '',
					provinceName: '',
					contactPerson: '',
					contactMobile: '',
					isDefault: '0',
					isDefaultText: '',
					remark: '',
				},
			},

			methods: {
				get: function () {
					if (this.param.detailType === sa.CONSTANT.ADD) {
						this.disabled = false;
						this.idDisabled = false;
					} else {
						sa.get('/local/link/branch/info/' + this.param.branchId, this.p, function (res) {
							this.m = res.data;
							console.log(res.data);
							if (this.param.detailType === sa.CONSTANT.EDIT) {
								this.disabled = false;
								this.idDisabled = true;
							} else {
								this.disabled = true;
								this.idDisabled = true;
							}
						}.bind(this), {});
					}
				},
				// ok
				ok: function () {
					sa.post(this.param.url, this.m, function (res) {
						sa.alert(this.param.detailType === sa.CONSTANT.ADD ? '添加成功' : '修改成功',
							function () {
								sa.closeCurrIframe();
							});
					}.bind(this));

				},
				roleChanged: function (value) {}
			},
			created: function () {
				let temp = {
					detailType: sa.CONSTANT.ADD,
					url: '/local/link/branch/save'
				};
				try {
					window.location.search.replace('?', '').split('&').forEach(obj => {
						let item = obj.split('=');
						if (item.length == 2) {
							temp[item[0]] = item[1];
						}
					})
				} catch (e) {

				}
				this.param = temp;
				this.get();
			}
		})
	</script>
</body>

</html>